@page "/"
@using RenderFragmentPractice.ComponentBases

<PageTitle>Index</PageTitle>

<NavComponentBase />

<ListItems>
  <GoodChild>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </GoodChild>

  <BadChild>
    <li>X</li>
    <li>X</li>
    <li>X</li>
  </BadChild>
</ListItems>